<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWQaZx1BLJaQb9ZtSwWGGZsgdmi-gqVp4</string>
	<key>GCM_SENDER_ID</key>
	<string>710673444887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentalhealth</string>
	<key>PROJECT_ID</key>
	<string>dass-30de1</string>
	<key>STORAGE_BUCKET</key>
	<string>dass-30de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710673444887:ios:8b624d8974c1fa241b6c52</string>
</dict>
</plist>